@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans:wght@700&display=swap');

:root {
    --heading-text-color: #0D0D0F;
    --main-background-color: #ffffff;
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--heading-text-color);
}

a:hover {
    cursor: pointer;
}

.page {
    background-color: var(--main-background-color);
    overflow-x: hidden;
}

.content {
    margin: .5rem 1.5rem;
}

.nav {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 1.5rem;
}

.nav__links:hover,
.projects__links:hover {
    opacity: .5;
    text-decoration: underline;
}

.nav__list {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 2rem;
    width: 320px;
    height: 100vh;
    overflow-y: auo;
    background: var(--main-background-color);
    font-family: 'Courier Prime', monospace;
    color: var(--heading-text-color);
    transform: translateX(100%);
    transition: transform ease-out .3s;
}

.nav__list--is-open {
    transform: translateX(0);
}

.nav__list--mobile {
    font-size: 1.5rem;
    line-height: 3rem;
}

.nav__menu-btn {
    position: absolute;
    right: 0;
    height: 72px;
    width: 72px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.nav .nav__menu {
    font-size: 1.5rem;
}

.nav__logo {
    padding-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    letter-spacing: 1px;
}

.content {
    margin-top: 4rem;
}

.projects__list {
    font-family: 'Courier Prime', monospace;
}

.projects__links {
    margin-bottom: 1rem;
}

.projects__name {
    font-size: 1rem;
    font-weight: normal;
}

.dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--heading-text-color);
    opacity: .4;
}

.stop-scrolling {
   overflow: hidden;
}

.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* iphone 5 */
@media (max-width: 374px) {
    .nav__list {
        width: 85vw;
    }
}

@media (min-width: 600px) {
    .page { 
        margin: 1rem auto 0;
        max-width: 800px;
    }

    .nav,
    .content {
        margin: 0 1.5rem;
    }

    .content {
        margin-top: 4rem;  
    }

    .nav__list {
        visibility: visible;
        display: flex;
        position: absolute;
        right: 0;
        left: initial;
        top: initial;
        width: initial;
        height: initial;
        padding: 0;
        overflow: hidden;
        transform: translate(0);
    }

    .nav__links {
        visibility: visible;
        margin-left: 1rem;
    }

    .nav__logo {
        padding-top: 0;
    }

    .nav__menu-btn {
        display: none;
    }

    .dim {
        visibility: hidden;
    }
}